ol {
  list-style: none;
  counter-reset: contador;
}

ol li {
  counter-increment: contador;
}

/* :: selector */
ol li::before {
  content: "Número " counter(contador) " -> ";
  color: #ff6f00;
}

ol li::after {
  content: ".";
}
